APP_NAME=Vidatech WiFi
ENVIRONMENT=production
DEBUG=False

JWT_SECRET_KEY=17a0f92da63d87a6e5f9a406f547919a5bf53f9e724a813a2663af4bd0433a7cd24fecff0fb73a80689ea9614f9e90eb504a56fbbc937d8fa801886e98fc27cd

MAX_FAILED_LOGINS=5
LOCKOUT_DURATION_MINUTES=30

CORS_ORIGINS=["https://vidatech-wifi.pages.dev"]

SUPABASE_URL=https://lhbnhzsclfzkcnvbsmas.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxoYm5oenNjbGZ6a2NudmJzbWFzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5MjIyNjcsImV4cCI6MjEwMTQ5ODI2N30.zxH1uAkCIzwPeOMP0TAKlURcBT4EK13dwzXnw0h3pQI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxoYm5oenNjbGZ6a2NudmJzbWFzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTkyMjI2NywiZXhwIjoyMTAxNDk4MjY3fQ.nzEGpqAL4szjkFyvsi7lYhKLXeXZnpyDYTMS2xeWgdY
DATABASE_URL=postgresql://postgres:LA.qbN?yR9ksd3G@db.lhbnhzsclfzkcnvbsmas.supabase.co:5432/postgres

DARAJA_ENV=sandbox
DARAJA_CONSUMER_KEY=    ← from Daraja portal
DARAJA_CONSUMER_SECRET= ← from Daraja portal
DARAJA_SHORTCODE=       ← your Till number
DARAJA_PASSKEY=         ← from Daraja portal
DARAJA_CALLBACK_URL=https://vidatech-wifi.onrender.com/api/payments/callback

ROUTER_IP=192.168.1.1
ROUTER_USERNAME=admin
ROUTER_PASSWORD=David@mrati@vida254

KEEPALIVE_ENABLED=True
KEEPALIVE_INTERVAL_SECONDS=600
KEEPALIVE_URL=https://vidatech-wifi.onrender.com/health

ADMIN_PHONE=0113259315
ADMIN_EMAIL=muratidavid002@gmail.com
ADMIN_PASSWORD=david@mrati@vida254
ADMIN_MAC_ADDRESSES=["3C:15:C2:C2:4B:78"]